* {
  box-sizing: border-box;
}
a, a:hover{
  color: inherit;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.header {
  margin: 10px 0 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.header__title{
  font-size: 40px;
}

.add__btn {
  background-color: green;
  color: #fff;
  border-radius: 50%;
  border: none;
  outline-color: transparent;
  font-size: 40px;
  width: 50px;
  height: 50px;
  position: relative;
}

.add__btn::before {
  content: "+";
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0;
  left: 0;
  color: #fff;
  line-height: 40px;
  outline: none;
  text-align: center;
}

.add__btn:focus {
  outline: none;
}

.error,
.errors__title {
  color: red;
}

.todo__item {
  cursor: pointer;
  margin: 10px 0;
}

.add__form button  {
  border-radius: 10px;
}

.add__form input,
.add__form textarea {
  width: 85%;
  display: block;
}

.add__form .form-group {
  margin: 10px 0;
}

.buttons {
  float: right;
  margin-right: 140px;
}

.buttons > * {
  margin-left: 20px;
  outline: none;
  border: none;
  padding: 5px 10px;
}

.submit__btn {
  margin-left: 20px;
  background-color: green;
}

.remove__btn {
  background-color: red;
}

.is__completed {
  display: inline;
}

.completed__task {
  color: darkgreen;
}

.additional__info {
  margin-left: 18px;
}

.empty__list-info {
  font-size: 26px;
}









/*#add__modal {*/
/*  display: none;*/
/*  position: fixed; !* Stay in place *!*/
/*  z-index: 1; !* Sit on top *!*/
/*  left: 0;*/
/*  top: 0;*/
/*  width: 100%; !* Full width *!*/
/*  height: 100%; !* Full height *!*/
/*  overflow: auto; !* Enable scroll if needed *!*/
/*  background-color: rgb(0,0,0); !* Fallback color *!*/
/*  background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
/*}*/

/*.add__modal-content {*/
/*  max-width: 800px;*/
/*  background-color: #fefefe;*/
/*  margin: 15% auto; !* 15% from the top and centered *!*/
/*  padding: 20px;*/
/*  border: 1px solid #888;*/
/*  width: 80%; !* Could be more or less, depending on screen size *!*/
/*}*/

/*.close {*/
/*  color: #aaa;*/
/*  float: right;*/
/*  font-size: 28px;*/
/*  font-weight: bold;*/
/*  cursor: pointer;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*  color: black;*/
/*}*/

/*#add__modal form {*/
/*  position: relative;*/
/*}*/