@model ToDoList.ViewModels.RegisterViewModel

<h2>Registration</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
            <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
            <div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Enter Email</label><br/>
                    <input type="text" asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Enter password</label><br/>
                    <input asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Confirm Password</label><br/>
                    <input asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Register"/>
                </div>
            </div>
        </form>
    </div>
</div>