@using ToDoList.ViewModels
@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - ToDoList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/fonts.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__title">
                <a href="@Url.Action("GetAllTask", "ToDo")">
                    To Do List
                </a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <p class="header__title">Hi, @User.FindFirstValue(ClaimsIdentity.DefaultNameClaimType)</p>
                <a style="font-size: 40px" asp-controller="Account" asp-action="Logout">Logout</a>
                
                <a class="add__btn"></a>
            }
            else
            {
                <a class="header__title" asp-controller="Account" asp-action="Login">Login</a>
            }
        </div>
    </div>
</header>

<section class="todo_items">
    <div class="container">
        @RenderBody()
    </div>
</section>

<section class="add__modal">
    @await Html.PartialAsync("~/Views/ToDo/_AddTaskModal.cshtml",
        new ToDoItemViewModel {Name = "Task"})
</section>

<footer class="footer"></footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/main.js" asp-append-version="true"></script>
<script src="~/js/modal.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>