@model IEnumerable<ToDoItemModel>

@{
    ViewData["Title"] = "To Do List";
    var unfinishedTasks = Model.Where(item => !item.IsCompleted);
    var complitedTasks = Model.Where(item => item.IsCompleted);
}

@if (!Model.Any())
{
    <div class="empty__list-info">There are no tasks in the list.</div>
}
@if (unfinishedTasks.Any())
{
    <div>Unfinished tasks</div>
    <ul>
        @foreach (var item in unfinishedTasks)
        {
            <li class="todo__item">
                @await Html.PartialAsync("~/Views/ToDo/_Task.cshtml", item)
            </li>
        }
    </ul>
}
@if (complitedTasks.Any())
{
    <div class="completed__task">Completed tasks</div>
    <ul>
        @foreach (var item in complitedTasks)
        {
            <li class="todo__item completed__task">
                @await Html.PartialAsync("~/Views/ToDo/_Task.cshtml", item)
            </li>
        }
    </ul>
}


@* <div id="add__modal"> *@
@*     <div class="add__modal-content"> *@
@*         <span class="close">&times;</span> *@
@*         <form asp-action="AddTask" asp-controller="ToDo"> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Name"></label> *@
@*                 <input type="text" asp-for="Name"> *@
@*                 <span asp-validation-for="Name"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Description"></label> *@
@*                 <textarea cols="30" rows="5" asp-for="Description"></textarea> *@
@*                 <span asp-validation-for="Description"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Deadline"></label> *@
@*                 <input type="datetime-local" asp-for="Deadline"/> *@
@*                 <span asp-validation-for="Deadline"></span> *@
@*             </div> *@
@*             <button class="submit__btn" type="submit">Add</button> *@
@*         </form> *@
@*         <div>*Only name required</div> *@
@*     </div> *@
@* </div> *@