@model List<ToDoItemModel>

@{
    ViewData["Title"] = "To Do List";
    var unfinishedTasks = Model.Where(item => !item.IsCompleted).ToList();
    var complitedTasks = Model.Where(item => item.IsCompleted).ToList();
}

@if (!Model.Any())
{
    <div class="info__title">There are no tasks in the list.</div>
}
@if (unfinishedTasks.Any())
{
    <div class="info__title">Unfinished tasks</div>
    <ul class="task__list">
        @foreach (var item in unfinishedTasks)
        {
            <li class="todo__item">
                @await Html.PartialAsync("~/Views/ToDo/_Task.cshtml", item)
            </li>
        }
    </ul>
}
@if (complitedTasks.Any())
{
    <div class="info__title">Completed tasks ✓</div>
    <ul class="task__list">
        @foreach (var item in complitedTasks)
        {
            <li class="todo__item completed__task">
                @await Html.PartialAsync("~/Views/ToDo/_Task.cshtml", item)
            </li>
        }
    </ul>
}

@foreach(var item in Model)
{
    @await Html.PartialAsync("~/Views/ToDo/_EditTaskModal.cshtml", item);
}